<div id="trips-table" class="container pull-left">
    <table class="table table table-striped table-hover">
        <thead>
        <tr>
            <th>Driver</th>
            <th>From</th>
            <th>To</th>
            <th>Departure Time</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="trip in trips">
            <td><a href="#/trips/{{trip.id}}">{{trip.driverName}}</a></td>
            <td>{{trip.from}}</td>
            <td>{{trip.to}}</td>
            <td><a href="#/trips/{{trip.id}}">{{trip.departureDate | date: 'dd-MMM-yyyy hh:mm:ss'}}</a></td>
        </tr>
        </tbody>
    </table>
</div>